body{
    background-color: #ffe8e8;
    color: white;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1,h2,h3 {
    font-family: Arial, Helvetica, sans-serif;}
p{
    color: black;}
    
ul{
    list-style-type: none;}
li{
    display: inline-block;
    margin: 10px;
}

.menuknop {
    text-decoration: none;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.menuknop:hover {
    background-color: #ff96ab;
    padding: 10px;
}
#container {
    overflow: auto;
    width: 1000px;
    margin: 0 auto;
    cursor: url("../Images/baby-yoda.png"), default;
}
#header {
    height: 150px;
}
#menu {
    text-align: center;
    height: 35px;
    margin-bottom: 10px;
    background-color: #fcb1b7;
}    
#hoofdtekst {
    border: 5px solid #fcb1b7;
    border-width: 6px;
    padding: 15px;
    background-color: #ffc9d1;
}

img.large {
    width: 750px;
    height: 500px;}
img.long {
    width: 500px;
    height: 750px;}
img.small {
    width: 250px;
    height: 150px;}