body{
    background-color: #fa7d90;
    color: white;
    text-align: center;}
h1,h2,h3 {
    font-family: Arial, Helvetica, sans-serif;}
p{
    font-family: helvetica;
    color: black;}
    
ul{
    list-style-type: none;}
li{
    display: inline;
    margin-right: 10px;}
li.coming-soon {
    display: none;}
#container {
    width: 1200px;
    margin: 0 auto;
}
#header {
    height: 150px;
}
#menu {
    text-align: center;
    height: 35px;
    margin-bottom: 10px;
    background-color: #ffc9d1;
}    
#hoofdtekst {
    
    border: 5px solid #ffc9d1;
    border-width: 1px 4px 12px 4px;
    padding: 15px;
}

img.large {
    width: 750px;
    height: 500px;}
img.long {
    width: 500px;
    height: 750px;}
img.small {
    width: 250px;
    height: 150px;}